@font-face {
  font-family: "Segoe UI";
  src: url("SegoeUI.ttf");
}

@font-face {
  font-family: "Tw Cen MT";
  src: url("Tw Cen MT Regular.ttf");
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  margin: 0;
  font-family: "Segoe UI";
  font-weight: normal;
  background: #292929;
}
.bg {
  background: url(../img/kiosmos.jpg), #292929;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  z-index: -10;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  display: inline-block;
  padding: 0;
}

h1 {
  font-size: 7.6rem;
  line-height: 8.5rem;
}

h2 {
  font-size: 6.4rem;
  line-height: 8.8rem;
  font-weight: 300;
}

h3 {
  font-weight: 300;
  font-size: 5.2rem;
  line-height: 7.3rem;
}
h3.pr {
  padding-right: 10rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 300;
}

p {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300;
}

p.small {
  font-family: Segoe UI;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #e6e6e6;
  height: 8.8rem;
}

.icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: inline-block;
  margin-right: 4rem;
}

.icon-vk {
  background: url(../img/vk.svg);
}

.icon-youtube {
  background: url(../img/youtube.svg);
}

.icon-discord {
  background: url(../img/discord.svg);
}

.icon:last-child {
  margin-right: 0;
}

.b-grad {
  position: relative;
}
.b-grad::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#ff0096), to(#00ffff));
  background: -webkit-linear-gradient(left, #ff0096 0%, #00ffff 100%);
  background: -o-linear-gradient(left, #ff0096 0%, #00ffff 100%);
  background: linear-gradient(90deg, #ff0096 0%, #00ffff 100%);
  content: "";
}

.container {
  max-width: 1151px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn {
  text-transform: uppercase;
  max-width: 42rem;
  width: 100%;
  height: 9.7rem;
  background-color: #ed1e79;
  border: none;
  font-size: 4.2rem;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn.small {
  max-width: 28rem;
  width: 100%;
  height: 7rem;
  font-size: 2.2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  padding: 16px 0;
  position: fixed;
  /* position: absolute; */
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #292929;
}
.header .container {
  max-width: 1656px;
}
.header .container .header-body .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .container .header-body .row .left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .container .header-body .row .left .logo a {
  margin-right: 14px;
}
.header .container .header-body .row .left .logo a img {
  max-width: 7.2rem;
  width: 100%;
}
.header .container .header-body .row .left .logo span {
  text-transform: uppercase;
  font-size: 3.6rem;
  line-height: 1;
}
.header .container .header-body .row .header-burger {
  display: none;
}
.header .container .header-body .row .mid ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .container .header-body .row .mid ul li {
  position: relative;
  margin-right: 4rem;
}
.header .container .header-body .row .mid ul li a {
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}
.header .container .header-body .row .mid ul li:after {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0.5rem;
  height: 2.7rem;
  background-color: #ed1e79;
  content: "";
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header .container .header-body .row .mid .right .icon {
  display: none;
}
.header .container .header-body .row .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.spase {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.spase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.spase .container .img-logo {
  max-width: 16rem;
  width: 100%;
  margin-bottom: 2.3rem;
}
.spase .container .img-logo img {
  width: 100%;
}
.spase .container h1 {
  font-family: Tw Cen MT;
  color: #f2f2f2;
  margin-bottom: 4.7rem;
  text-transform: uppercase;
}
.spase .container h2 {
  color: #fff;
}
.spase .container .btn {
  margin-top: 9.8rem;
}

.play {
  height: calc(100vh - 60vh);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.play .container h3 {
  margin-bottom: 4.8rem;
  text-transform: uppercase;
}
.play .container p {
  margin-bottom: 2rem;
}
.play .container .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.play .container .row .license {
  padding: 2.2rem 2.5rem 2.2rem 2rem;
  background-color: #1a1a1a;
  width: calc(100% / 3 - 5.3rem);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.play .container .row .license h4 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.play .container .row .license p {
  margin-bottom: 1.3rem;
}
.play .container .row .license a:hover {
  background-color: #ea1fdb;
}

.bottom-container {
  height: 10vh;
}

.why {
  padding-top: 11vh;
  /* height: 100vh; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.why .container h3 {
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.why .container p {
  margin-bottom: 2rem;
}
.why .container .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.why .container .row .left {
  background-color: #000;
  max-width: calc(50% - 6rem);
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.why .container .row .left video {
  width: 100%;
}
.why .container .row .right {
  background-color: #1a1a1a;
  max-width: calc(50% - 6rem);
  width: 100%;
  padding: 2.2rem 2.5rem 2.2rem 2rem;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.why .container .row .right h4 {
  text-transform: uppercase;
}
.why .container .row .right .server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 1.8rem;
}
.why .container .row .right .server p {
  line-height: 1;
  margin-bottom: 0;
}
.why .container .row .right .server span {
  font-size: 2rem;
  font-weight: 300;
}
.why .container .row .right .p-bar {
  width: 100%;
  height: 1rem;
  display: block;
  background-color: #00ffff;
  position: relative;
  z-index: 1;
}
.why .container .row .right .p-bar .p-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
  background-color: #ed1e79;
  -webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 97% 100%, 0 100%);
  z-index: 2;
}

.footer {
  background-color: #1a1a1a;
  padding: 2.8rem 0;
  width: 100%;
}
.footer .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer .container .icon {
  width: 4rem;
  height: 4rem;
}

@media (max-width: 1280px) {
  html {
    font-size: 7px;
  }
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 7px;
  }
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1085px) {
  .container {
    max-width: none;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #292929;
    padding: 2rem 0;
  }
  .header::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#ff0096), to(#00ffff));
    background: -webkit-linear-gradient(left, #ff0096 0%, #00ffff 100%);
    background: -o-linear-gradient(left, #ff0096 0%, #00ffff 100%);
    background: linear-gradient(90deg, #ff0096 0%, #00ffff 100%);
    content: "";
  }
  .header .container .header-body {
    position: relative;
  }
  .header .container .header-body .row .header-burger {
    display: block;
    position: relative;
    min-width: 40px;
    margin-left: auto;
    max-width: 40px;
    height: 20px;
  }
  .header .container .header-body .row .header-burger:before,
  .header .container .header-body .row .header-burger:after {
    background-color: #fff;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .container .header-body .row .header-burger:before {
    top: 0;
  }
  .header .container .header-body .row .header-burger:after {
    bottom: 0;
  }
  .header .container .header-body .row .header-burger.active span {
    opacity: 0;
  }
  .header .container .header-body .row .header-burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
  }
  .header .container .header-body .row .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .container .header-body .row .header-burger span {
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .container .header-body .row .header-burger span.active {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header .container .header-body .row .mid {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    background-color: #292929;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
    padding: 150px 20px 20px 20px;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header .container .header-body .row .mid.active {
    -webkit-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
  .header .container .header-body .row .mid ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header .container .header-body .row .mid ul li {
    margin-bottom: 3rem;
  }
  .header .container .header-body .row .mid .right {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .header .container .header-body .row .mid .right .icon {
    display: block;
  }
  .header .container .header-body .row > .right {
    display: none;
  }
  .play .container .row .license {
    width: calc(100% / 3 - 2rem);
  }
  .why .container .row .right,
  .why .container .row .left {
    max-width: calc(100% / 2 - 1rem);
  }
}

@media (max-width: 560px) {
  .header .container .header-body .row .mid {
    max-width: 100vw;
  }
  h1 {
    font-size: 6rem;
    line-height: 1;
  }
  h2 {
    font-size: 4rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 4.2rem;
    line-height: 1.5;
  }
  h3.pr {
    padding-right: 6rem;
  }
  h4 {
    font-size: 2.6rem;
    line-height: 3.5rem;
    font-weight: 300;
  }
  p {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .btn {
    max-width: 36rem;
    height: 8rem;
    font-size: 3.2rem;
  }
  .btn.small {
    max-width: 28rem;
    width: 100%;
    height: 4rem;
    font-size: 2.2rem;
  }
  .play .container .row .license {
    width: 100%;
    margin-bottom: 3rem;
  }
  .why .container .row .right,
  .why .container .row .left {
    max-width: 100%;
    margin-bottom: 3rem;
  }
}
